.pgloader {
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 999999;
}

.pgloader.in {
    display: block;
}

.parallax {
    width: 100%;
    height: 570px;
    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px;
    float: left;
}

.logo-container .brand {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}

.logo-container .brand-material {
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}

.logo-container .logo img {
    width: 100%;
}

.navbar-small .logo-container .brand {
    color: #333333;
}

.animate {
    transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}

.navbar-transparent.navbar-small .logo-container .brand {
    color: #FFFFFF;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}


.quiz-page .header {    
    height: calc(100vh - 150px);
    background-position: top center;
    background-size: cover;
}



/* DROPZONE */

.dropzone {
    position: relative;
}

.dz-default {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dz-default>span {
    display: none;
}

.dz-preview {
    display: none;
}

.dz-bg {
    background-image: url(https://placeholdit.imgix.net/~text?txtsize=54&txt=Clique%20aqui%20para%20adicionar%20uma%20imagem%20de%20capa&w=1280&h=720);
    position: relative;
}

.dz-bg-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.dz-box .dz-rm {
    position: absolute;
    top: 0;
    right: 0;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dz-box:hover .dz-rm {
    right: -40px;
    padding: 10px;
}


/* FORMS */

.form-control.ta {
    min-height: 100px;
}

#jsoncode {
    resize: auto !important;
}

results > div {
    margin-bottom: 30px;
}

question {
    display: block;
    margin-bottom: 20px;
}

#question-title {
    text-transform: uppercase;
}

.question-header {
    background-color: #9c27b0;
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}

.question-remover {
    color: #fff;
    margin-top: -7px;
    cursor: pointer;
}

.question-remover i {
    position: relative;
    top: 5px;
}

.question-toggler {
    position: relative;
    margin-top: -8px;
    top: 6px;
    transform: rotateZ(180deg);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.answer-remover,
.result-remover,
.dz-rm {
    padding: 10px;
    opacity: 0.5;
    cursor: pointer;
}

.toggled .question-toggler {
    transform: rotateZ(0deg);
}

.toggled-only {
    display: none;
}

.not-toggled-only {
    display: block;
}

.toggled .toggled-only {
    display: block !important;
}

.toggled .not-toggled-only {
    display: none !important;
}

answer {
    margin-bottom: 30px;
    display: block;
}


/* SPINNER */

.spinner {
    position: relative;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #07d;
    border-bottom-color: #07d;
    animation: spinner .8s ease infinite;
}

.spinner-g {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

@keyframes spinner-g {
    to {
        transform: rotate(360deg);
    }
}

.spinner-g:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #9c27b0;
    border-bottom-color: #9c27b0;
    animation: spinner-g .8s ease infinite;
}


/* GENERAL */

.bg-center {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table.gridless>tbody>tr>td, 
.table.gridless>tbody>tr>th, 
.table.gridless>tfoot>tr>td, 
.table.gridless>tfoot>tr>th, 
.table.gridless>thead>tr>td, 
.table.gridless>thead>tr>th {
    border-top: none !important;
}

.table.table-middle>tbody>tr>td, 
.table.table-middle>tbody>tr>th, 
.table.table-middle>tfoot>tr>td, 
.table.table-middle>tfoot>tr>th, 
.table.table-middle>thead>tr>td, 
.table.table-middle>thead>tr>th {
    vertical-align: middle;
}


/*************************
        QF STYLES
*************************/

.questform {

}

.qf-question {
    margin-bottom: 20px;
}

.qf-question-header {
    margin-bottom: 20px;
}

.qf-answer .qf-answer-cover-subtitle  {
    font-weight: 500;
    padding: 10px 15px 15px 15px;
    background: #f0f0f0;
    margin: 0;
    z-index: 0;
    position: relative;
}

.qf-answer {
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0);
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 0px 0px #000;
    -moz-box-shadow: inset 0px 0px 0px 0px #000;
    box-shadow: inset 0px 0px 0px 0px #000;
}

.qf-answer:not(.qf-answer-correct):not(.qf-answer-incorrect):not(.qf-answer-none):hover {
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
}

.qf-answer img {
    z-index: 0;
    position: relative;
}

.qf-answer-none {
    opacity: 0.6;
}

.qf-answer-correct:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 0px 8px #6bb120;
    -moz-box-shadow: inset 0px 0px 0px 8px #6bb120;
    box-shadow: inset 0px 0px 0px 8px #6bb120;
    border-radius: 5px;
}

.qf-answer-incorrect:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 0px 8px #fe2e2e;
    -moz-box-shadow: inset 0px 0px 0px 8px #fe2e2e;
    box-shadow: inset 0px 0px 0px 8px #fe2e2e;
    border-radius: 5px;
}

.qf-answer-none,
.qf-answer-correct,
.qf-answer-incorrect {
    cursor: inherit !important;
}

.qf-answer-cover {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    border-radius: 8px;
}

.qf-badge {
    color: #fff;
    position: absolute;
    left: 15px;
    top: 15px;
    border-radius: 50%;
    z-index: 10;
}

.qf-badge i {
    padding: 3px 5px;
    font-size: 36px;
    position: relative;
    top: 2px;
}

.qf-correct-badge {
    background-color: #6bb120;
}

.qf-incorrect-badge {
    background-color: #fe2e2e;
}

.qf-question .row {
    margin-left: -8px !important;
    margin-right: -8px !important;
}

.qf-question .row [class*="col-"] {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.qf-result-box {
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    background: rgba(163,0,114,1);
    background: -moz-linear-gradient(45deg, rgba(163,0,114,1) 0%, rgba(191,64,157,1) 62%, rgba(201,89,177,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(163,0,114,1)), color-stop(62%, rgba(191,64,157,1)), color-stop(100%, rgba(201,89,177,1)));
    background: -webkit-linear-gradient(45deg, rgba(163,0,114,1) 0%, rgba(191,64,157,1) 62%, rgba(201,89,177,1) 100%);
    background: -o-linear-gradient(45deg, rgba(163,0,114,1) 0%, rgba(191,64,157,1) 62%, rgba(201,89,177,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(163,0,114,1) 0%, rgba(191,64,157,1) 62%, rgba(201,89,177,1) 100%);
    background: linear-gradient(45deg, rgba(163,0,114,1) 0%, rgba(191,64,157,1) 62%, rgba(201,89,177,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a30072', endColorstr='#c959b1', GradientType=1 );
}

.qf-result-header {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.qf-result-header i.material-icons {
    font-size: 32px;
    margin-top: -15px;
    top: 6px;
    position: relative;
}

.qf-result-content {
    color: #000;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    overflow: hidden;
}

.qf-result-image-wrapper {
    width: 37%;
    float: right;
    background-size: cover;
    background-position: center;
    margin: -15px;
    margin-left: 15px;
}

.qf-result-count {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px;
    color: #c754ad;
}

.qf-result-title {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    padding: 15px 15px 15px 10px;
}

.qf-result-description {
    padding: 10px;
}



.qf-answer-line {
    border: 1px #ccc solid;
    border-radius: 5px;
    margin-bottom: 7px;
    padding: 0px 15px;
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0);
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.qf-answer-line:not(.qf-answer-correct):not(.qf-answer-incorrect):not(.qf-answer-none):hover {
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);
}

.qf-answer-line.qf-answer-correct {
    background: #6bb120;
    color: #fff;
}

.qf-answer-line.qf-answer-incorrect {
    background: #fe2e2e;;
    color: #fff;
}

.qf-answer-line .qf-badge {
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    border-radius: 50%;
}

.clock {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    background: rgba(163,0,114,1);
    background: -moz-linear-gradient(45deg, rgba(163,0,114,1) 0%, rgba(191,64,157,1) 62%, rgba(201,89,177,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(163,0,114,1)), color-stop(62%, rgba(191,64,157,1)), color-stop(100%, rgba(201,89,177,1)));
    background: -webkit-linear-gradient(45deg, rgba(163,0,114,1) 0%, rgba(191,64,157,1) 62%, rgba(201,89,177,1) 100%);
    background: -o-linear-gradient(45deg, rgba(163,0,114,1) 0%, rgba(191,64,157,1) 62%, rgba(201,89,177,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(163,0,114,1) 0%, rgba(191,64,157,1) 62%, rgba(201,89,177,1) 100%);
    background: linear-gradient(45deg, rgba(163,0,114,1) 0%, rgba(191,64,157,1) 62%, rgba(201,89,177,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a30072', endColorstr='#c959b1', GradientType=1 );
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.clock .label {
    font-size: 10px;
    position: relative;
    top: -5px;
}

.clock .h,
.clock .m,
.clock .s {
    font-size: 28px;
}

.clock .ms {
    font-size: 12px;
    position: relative;
    top: -10px;
}

.header-filter:after {
    z-index: 0 !important;
}

.main {
    z-index: inherit !important;
}

#review {

}

#review h3 {
    margin-bottom: 30px;
}

.rv {

}

.rv > li > a {
    font-size: 18px;
}

.rv-ranking {

}

.rv-ranking .btn {
    margin: 0;
    padding: 0 15px;
    position: relative;
    top: -3px;
}

.num {
    font-size: 36px;
    padding: 25px;
}

.num>.small {
    font-size: 14px;
}

@media (max-width: 640px){
    .card.card-signup {
        margin: 140px 0;
    }

    .logo-container .logo {
        margin: 0px 13px;
    }

    footer nav {
        display: none;
    }
}